In [1]:
import pandas as pd

In [2]:
ap_df = pd.read_csv('../Raw_Data/Air_Pollutant_data.csv')
ap_df.head()

,StateFIPS,State,CountyFIPS,County,Year,Value,Data Comment,Pollutant
0,1,Alabama,1001,Autauga,2005,0.72,NaN,Pollutant: Benzene
1,1,Alabama,1001,Autauga,2005,2.60,NaN,Pollutant: Formaldehyde
2,1,Alabama,1001,Autauga,2005,2.87,NaN,Pollutant: Acetaldehyde
3,1,Alabama,1001,Autauga,2005,0.61,NaN,Pollutant: Carbon tetrachloride
4,1,Alabama,1001,Autauga,2005,0.03,NaN,"Pollutant: 1,3-butadiene"

In [3]:
ap_df2 = ap_df.loc[ap_df.State == 'California']
ap_df2.head()

,StateFIPS,State,CountyFIPS,County,Year,Value,Data Comment,Pollutant
1850,6,California,6001,Alameda,2005,1.11,NaN,Pollutant: Benzene
1851,6,California,6001,Alameda,2005,2.90,NaN,Pollutant: Formaldehyde
1852,6,California,6001,Alameda,2005,1.98,NaN,Pollutant: Acetaldehyde
1853,6,California,6001,Alameda,2005,0.61,NaN,Pollutant: Carbon tetrachloride
1854,6,California,6001,Alameda,2005,0.12,NaN,"Pollutant: 1,3-butadiene"

In [4]:
ap_df2['Year'] = ap_df2['Year'].astype(str)

/Users/melphillips/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [5]:
ap_df3 = ap_df2.loc[ap_df2.Year == '2011']
ap_df3.head()

,StateFIPS,State,CountyFIPS,County,Year,Value,Data Comment,Pollutant
1855,6,California,6001,Alameda,2011,0.66,NaN,Pollutant: Benzene
1856,6,California,6001,Alameda,2011,1.33,NaN,Pollutant: Formaldehyde
1857,6,California,6001,Alameda,2011,1.20,NaN,Pollutant: Acetaldehyde
1858,6,California,6001,Alameda,2011,0.55,NaN,Pollutant: Carbon tetrachloride
1859,6,California,6001,Alameda,2011,0.07,NaN,"Pollutant: 1,3-butadiene"

In [7]:
ap_df4 = ap_df3[['County','Value','Pollutant']]

In [9]:
ap_df4.to_csv('DataSources/CLEAN_air_pollutant_data', index=False)