In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Imoprt raw dataset
asthma_df = pd.read_excel('../Raw_Data/asthma-prevalence-3.xlsx')
asthma_df.head()

,COUNTY,YEARS,STRATA,AGE GROUP,CURRENT PREVALENCE,95% CONFIDENCE INTERVAL,COUNTIES GROUPED,COMMENT
0,California,2015–2016,Total population,All ages,0.086958,(8.1–9.3),NaN,NaN
1,Alameda,2015–2016,Total population,All ages,0.090542,(5.9–12.2),NaN,NaN
2,Alpine,2015–2016,Total population,All ages,0.093000,(4.1–14.6),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon...",NaN
3,Amador,2015–2016,Total population,All ages,0.093000,(4.1–14.6),"Alpine, Amador, Calaveras, Inyo, Mariposa, Mon...",NaN
4,Butte,2015–2016,Total population,All ages,0.094291,(3.8–15.1),NaN,Estimate is statistically unstable. Caution is...

In [3]:
# Isolate columns & remove spaces from columns
asthma_df2 = asthma_df[['COUNTY', 'YEARS', 'AGE GROUP', 'CURRENT PREVALENCE']]
asthma_df2 = asthma_df2.rename(columns = {"AGE GROUP": "AGE_GROUP", "CURRENT PREVALENCE": "CURRENT_PREVALENCE"})
asthma_df2

         COUNTY      YEARS  AGE_GROUP  CURRENT_PREVALENCE
0    California  2015–2016   All ages            0.086958
1       Alameda  2015–2016   All ages            0.090542
2        Alpine  2015–2016   All ages            0.093000
3        Amador  2015–2016   All ages            0.093000
4         Butte  2015–2016   All ages            0.094291
..          ...        ...        ...                 ...
821      Tulare  2017–2018  65+ years                 NaN
822    Tuolumne  2017–2018  65+ years            0.140353
823     Ventura  2017–2018  65+ years            0.119366
824        Yolo  2017–2018  65+ years                 NaN
825        Yuba  2017–2018  65+ years            0.143450

[826 rows x 4 columns]

In [39]:
asthma_df2 = asthma_df2[asthma_df2.AGE_GROUP != "All ages"]
#asthma_df2 = asthma_df2.dropna()
asthma_df2 = asthma_df2.fillna(0)
asthma_df2

         COUNTY      YEARS   AGE_GROUP  CURRENT PREVALENCE
59   California  2015–2016  0–17 years            0.101036
60      Alameda  2015–2016  0–17 years            0.151406
61       Alpine  2015–2016  0–17 years            0.000000
62       Amador  2015–2016  0–17 years            0.000000
63        Butte  2015–2016  0–17 years            0.000000
..          ...        ...         ...                 ...
821      Tulare  2017–2018   65+ years            0.000000
822    Tuolumne  2017–2018   65+ years            0.140353
823     Ventura  2017–2018   65+ years            0.119366
824        Yolo  2017–2018   65+ years            0.000000
825        Yuba  2017–2018   65+ years            0.143450

[708 rows x 4 columns]

In [40]:
asthma_df2.dtypes

COUNTY                 object
YEARS                  object
AGE_GROUP              object
CURRENT PREVALENCE    float64
dtype: object

In [ ]:
asthma_df2.to_csv('../Clean_Data/CLEAN_asthma_data.csv', index = False)