In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

In [2]:
#import the file from github to a dataframe
url = 'https://raw.githubusercontent.com/Bropell/Asthma_Analysis_in_California_Counties/main/Resources/Raw_Data/California_Electric_Substations.csv'
electric_substation_df = pd.read_csv(url)
electric_substation_df

,X,Y,OBJECTID,Owner,Path,Source,Type,HIFLD_ID,Name,Max_Voltage,ZIP_CODE,STATE,COUNTY,CITY,Lon,Lat
0,-13608019.18,4547328.302,1,Other,NaN,CEC,SUBSTATION,310025.0,Jenney,115.0,94501,CA,Alameda,Alameda,-122.242916,37.772436
1,-13654155.81,4616931.162,2,PG&E,NaN,CEC,SUBSTATION,306474.0,Corona,115.0,94954,CA,Sonoma,Petaluma,-122.657369,38.265013
2,-13539338.97,4548179.784,3,PG&E,NaN,CEC,SUBSTATION,310124.0,South Bay 1,NaN,94514,CA,Alameda,Unincorporated,-121.625951,37.778482
3,-13545044.87,4543940.580,4,PG&E,NaN,CEC,SUBSTATION,306256.0,Altamont,60.0,94551,CA,Alameda,Unincorporated,-121.677208,37.748376
4,-13587799.24,4535905.499,5,PG&E,NaN,CEC,SUBSTATION,303892.0,Castro Valley,230.0,94546,CA,Alameda,Unincorporated,-122.061277,37.691281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4437,-13029912.97,3855039.869,4438,NaN,NaN,HIFLD,TAP,310978.0,Unknown,69.0,92114,CA,San Diego,San Diego,-117.049700,32.696133
4438,-13557362.21,4579364.894,4439,NaN,NaN,HIFLD,TAP,310981.0,Unknown,115.0,94509,CA,Contra Costa,Antioch,-121.787857,37.999569
4439,-13566821.45,4577639.055,4440,NaN,NaN,HIFLD,TAP,310982.0,Unknown,115.0,94565,CA,Contra Costa,Unincorporated,-121.872831,37.987351
4440,-13026193.37,4007926.361,4441,NaN,NaN,HIFLD,TAP,310983.0,Unknown,33.0,92555,CA,Riverside,Unincorporated,-117.016286,33.844389
4441,-13105510.74,4033314.712,4442,NaN,NaN,HIFLD,NaN,301588.0,Unknown,NaN,91766,CA,Los Angeles,Pomona,-117.728806,34.033601

In [3]:
#reducing columns in dataframe to 'OBJECTID', 'COUNTY','Max_Voltage','Source','STATE','ZIP_CODE','Lon','Lat' only
elect_df = electric_substation_df[['OBJECTID', 'COUNTY','Max_Voltage','Source','STATE','ZIP_CODE','Lon','Lat']]
elect_df

,OBJECTID,COUNTY,Max_Voltage,Source,STATE,ZIP_CODE,Lon,Lat
0,1,Alameda,115.0,CEC,CA,94501,-122.242916,37.772436
1,2,Sonoma,115.0,CEC,CA,94954,-122.657369,38.265013
2,3,Alameda,NaN,CEC,CA,94514,-121.625951,37.778482
3,4,Alameda,60.0,CEC,CA,94551,-121.677208,37.748376
4,5,Alameda,230.0,CEC,CA,94546,-122.061277,37.691281
...,...,...,...,...,...,...,...,...
4437,4438,San Diego,69.0,HIFLD,CA,92114,-117.049700,32.696133
4438,4439,Contra Costa,115.0,HIFLD,CA,94509,-121.787857,37.999569
4439,4440,Contra Costa,115.0,HIFLD,CA,94565,-121.872831,37.987351
4440,4441,Riverside,33.0,HIFLD,CA,92555,-117.016286,33.844389
4441,4442,Los Angeles,NaN,HIFLD,CA,91766,-117.728806,34.033601

In [4]:
elect_df = elect_df[['COUNTY','Max_Voltage']]
elect_df = elect_df.groupby('COUNTY').sum()

In [5]:
elect_df

                  Max_Voltage
COUNTY
Alameda                9255.0
Alpine                    0.0
Amador                 2050.0
Butte                  4140.0
Calaveras              1680.0
Colusa                 1810.0
Contra Costa          12216.0
Del Norte              1081.0
El Dorado              1845.0
Fresno                11591.0
Glenn                  1120.0
Humboldt               2450.0
Imperial               8044.0
Inyo                    630.0
Kern                  25358.0
Kings                  2677.0
Lake                   2425.0
Lassen                 2076.0
Los Angeles           33864.0
Madera                 2745.0
Marin                  1060.0
Mariposa                525.0
Mendocino              1120.0
Merced                 4628.0
Modoc                  2323.0
Mono                   1430.0
Monterey               4165.0
Napa                    925.0
Nevada                  820.0
Orange                11503.0
Placer                 3345.0
Plumas                 2005.0
Riverside             16739.0
Sacramento            22910.0
San Benito              470.0
San Bernardino        18820.0
San Diego             14272.0
San Francisco          1005.0
San Joaquin            8805.0
San Luis Obispo        2915.0
San Mateo              4730.0
Santa Barbara          3382.0
Santa Clara            9410.0
Santa Cruz             1780.0
Shasta                10369.0
Sierra                  765.0
Siskiyou               4163.0
Solano                 6860.0
Sonoma                 8280.0
Stanislaus             7175.0
Sutter                 1695.0
Tehama                  960.0
Trinity                1565.0
Tulare                 4054.0
Tuolumne               2162.0
Ventura                2970.0
Yolo                   1975.0
Yuba                   1605.0

In [6]:
#export the cleaned data to a csv file change to "DataSource to: ../Clean_Data/"
elect_df.to_csv('../Clean_Data/CLEAN_elec_substation_data.csv', index=True)

In [7]:
#import the dataframe to a table in sql
#Make sure to add a config.py file in the folder where this script is that has the following
#db_password = "Your Password for SQL"
#also change the database name to the database we are importing the table to.
#we use final_project for our database name and it is create prior to running this script
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"

engine = create_engine(db_string)

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
#replace the file location to that of which the cleaned data was saved to csv.
#file line should match that of the export file location and name
for data in pd.read_csv(f'../Clean_Data/CLEAN_elec_substation_data.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    #name the table of which the dataframe is imported to in sql
    data.to_sql(name='electric_substations', con=engine, index=False)
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 58...Done. 0.0565030574798584 total seconds elapsed